@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;700&family=Satisfy&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  
  font-family: 'Manrope', sans-serif, 'Satisfy', cursive;
}

body,
#root,
html {
  width: 100%;
  max-width: 100%;
  height: fit-content;
  overflow-x: hidden;
}
@import "/src/colors.scss";

body {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, #1C99E6, white);
}

.title {
    height: 380px;
    background-image: url('../assets/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.exploratoy {
  display: flex;
  flex-direction: column;
  background-color: $color-3;

  .tweet-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 1vw;
    padding: 1vw;
    width: fit-content;
    margin: 1vw auto;

    p {
      ul {
        margin-left: 3vw;
      }
    }

    hr {
      width: 100%;
      height: 0.5px;
      background: rgb(189, 189, 189);
      margin: 5px 0;
    }

    button {
      color: white;
      padding: 1vw 2vw;
      border-radius: 1vw;
      background-color: $color-3;
      font-weight: bold;
      opacity: 0.5;
      margin: 0 1vw 0 auto;
    }
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw 0;

    .left-container {
        display: grid;
        gap: 1vw;
        width: fit-content;
        grid-template-columns: repeat(2, 1fr);
    
        button {
          padding: 1vw;
          border: 3px solid $color-4;
          background: white;
        }
    }

    .right-container {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 50%;
        margin-left: 1vw;
    }
  }
}